{{!-- this is a partial handlebar template  --}}
<div class="newCard">

  <img src="{{image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    
  </div>
   <div class="card-body">
     <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
  </div>
</div>

