{{!-- this partial handlebars template creates cards for our posts that we can use in other templates; it is used in places like the dashboard where users can see and edit their posts --}}
<div class="newCard" style="width: 50rem;">
  <img src="{{image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    
  </div>
   <div class="card-body">
     <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
  </div>
</div>

