<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetLink
    </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/homestyle.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><img src="/images/Petlink_GR.png"></img></a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard"><i class='fas fa-plus-square' style='font-size:30px'></i></a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login" style="color:rgb(175, 226, 230);">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>