<section>
  <h2>Create New Post <i class='fas fa-feather' style='font-size:40px'></i></h2>

  <form class="new-post-form">
    <div>
      <label for="post-title"><i class='fas fa-paw' style='font-size:30px'></i> Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content"><i class='fas fa-cat' style='font-size:30px'></i> Cat-tion</label>

      <input id="content" name="content" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>