{{!-- this is the template for the login page; it includes a form for existing users to login as well as a form for new users to sign up --}}
<div class="login" id="login" >
  <div class="user-login">
<form class="login-form" id="loginform">
  <div class="login-box">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  </br>
  <div>
    <button type="submit">LOGIN</button>
  </div>
  </div>
</form>
</div>
<form class="signup-form" id="signupform">
  <div class="signup-box">
  <div>
    <label for="username-signup">Username:</label> 
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  </br>
  <div>
    <button type="submit">SIGN UP</button>
  </div>
</div>
</form>
<script src="/javascript/login.js"></script>
</div>